*
!app/
!bootstrap/
!database/factories/
!database/migrations/
!lang/
!public/*.*
!resources/
!routes/
!storage/
storage/framework/views/*
storage/pail/
!artisan
!composer.*
!Makefile
!package*.json
!vite.config.js
**/.gitignore
**/*.log
